<div class="panel panel-primary">
  <div class="panel-heading"><%= @event.name %></div>

  <div class="panel-body">

    <p>Event: <%= @event.name %></p>
    <p>Host: <%= @event.user.email %></p>

    <!-- About -->
    <h4>About</h4>
    <p><%= @event.description %></p>

    <!-- Main Info -->
    <h4>Main Info</h4>
    <p>Event Desciption: <%= @event.description %></p>
    <p>Location:  <%= @event.location%></p>
    <p>Price: <%= @event.price%></p>
    <p>Capacity: <%= @event.capacity%></p>

    <!-- Amenities -->
    <h4>Amenities</h4>
    <ul class="amenities">
      <li><%= !@event.includes_food ? ("<del>Foods</del>").html_safe : "Foods" %></li>
      <li><%= !@event.includes_drinks ? ("<del>Drinks</del>").html_safe : "Drinks" %></li>
      <li><%= !@event.active ? ("<del>Active</del>").html_safe : "Active" %></li>
    </ul>

    <!-- Photos -->
    <h4>Photos</h4>
    <% @event.photos.each do |photo| %>
      <%= image_tag photo.image %>
    <% end %>

    <!-- Categories -->
    <h4>Categories</h4>
    <% @categories.each do |category| %>
      <span class="label label-success"><%= category.name %></span>
    <% end %>

  </div>

</div>

<%= link_to "Back", events_path, class: "btn btn-default" %>
